.wrapper {
  background-color: #b1b4b5;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.author {
  font-family: "Ranchers", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.details {
  margin-bottom: 2rem;
}

.review {
  font-size: 1.5rem;
  margin-right: auto;
  margin-top: 1rem;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  font-size: 1.4rem;
  margin-right: 2rem;
}

.action button {
  margin: 0 1rem;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    padding: 0.5rem 1rem;
  }
  .author {
    font-size: 1.5rem;
    font-weight: 300;
  }
  .details {
    margin-bottom: 0.7rem;
  }
}

@media only screen and (max-width: 700px) {
  .rating {
    display: block;
  }
  .review {
    margin: 1rem 2rem;
  }
}
