.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  padding: 1.2rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #1284a8;
  border-radius: 0.4rem;
  color: white;
  margin: 0.5rem 1rem;
  font-family: inherit;
}
