.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 80%;
    margin: 3rem auto;
}
.formContainer{
    width:50%;
    background-color: white;
    padding: 2rem 4rem;
    box-shadow: 0 5px 8px 0px rgba(0, 0, 0, 0.671);
    border-radius: 4px;
}
.formHeader{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
}
.form{
    padding: 2rem 4rem;
}
.submitWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}