.wrapper {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.detail {
  text-align: center;
}

.header {
  font-size: 5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  font-family: "Ranchers", sans-serif;
  margin-bottom: 3rem;
}

.description {
  text-align: left;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  color: #474747;
}

.comments {
  margin-top: 2rem;
  padding: 1rem;
  height: 40rem;
  overflow-y: scroll;
}

.formWrapper {
  margin: 4rem 0;
}

.descriptionHeader {
  text-align: left;
  padding: 1rem 2rem;
  font-family: "Ranchers", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}
